<style>
    .modal-content{
        background-color: #212121;
        color: #f2f2f2;
    }

    .weekDays-selector input{
        display: none !important;
    }

    .weekDays-selector input[type=checkbox] + label{
        display: inline-block;
        border-radius: 6px;
        background-color: #dddddd;
        height: 40px;
        width: 30px;
        margin-right: 3px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
    }

    .weekDays-selector input[type=checkbox]:checked + label{
        background-color: rgb(0,160,0);
        color: #f2f2f2;
    }

</style>

<!-- Create habit -->
<div class="modal fade" id="Modal-CreateHabit"
    tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    Create new habit
                </h5>
            </div>
            <div class="modal-body">
                <form method="POST" >
                    {{ create_habit_form.hidden_tag() }}
                    <h3>Create</h3>
                    <div class="row flex-fill">
                        {{ create_habit_form.name.label() }}
                        {{ create_habit_form.name(class="form-control", placeholder="Habit name") }}
                        {{ create_habit_form.units.label() }}
                        {{ create_habit_form.units(class="form-control", placeholder="Units") }}
                        {{ create_habit_form.goal.label() }}
                        {{ create_habit_form.goal(class="form-control", placeholder="Goal") }}
                        <!-- Select days of the week -->
                        <div class="weekDays-selector">
                            {% for day in ["M", "T", "W", "X", "F", "S", "D"] %}
                                <input  type="checkbox" id="weekday-{{ day }}-habit-new" name="weekday-{{ day }}-habit-new" class="weekday">
                                <label for="weekday-{{ day }}-habit-new">{{day}}</label>
                            {% endfor %}
                        </div>                        
                    </div>
                    <!-- Create habit -->
                    <input type="hidden" id="action" name="action" value="create-habit">
                    {{ create_habit_form.submit(class="btn btn-outline-success btn-block") }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-center" data-dismiss="modal">
                    x
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modify achieved -->
<div class="modal fade" id="Modal-ModifyAchieved-{{ habit.id }}"
    tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    {{ habit.name }}
                </h5>
                <button type="button" class="close"
                    data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" >
                    {{ modify_achieved_form.hidden_tag() }}
                    <h4 class="text-center">
                        Modify achieved
                    </h4>
                    <div class="row flex-fill">
                        <div class="col-md-12" style="padding: 1rem;">
                            <label>Achieved:</label>
                            <input type="text" id="modify-achieved" name="modify-achieved" />
                            <label>{{ habit.units }}</label>
                        </div>
                    </div>
                    <!-- Add to achieved -->
                    <input type="hidden" id="modified_habit" name="modified_habit" value="{{ habit.name }}" />
                    <input type="hidden" id="action" name="action" value="modify-achieved">
                    {{ modify_achieved_form.submit(class="btn btn-outline-success btn-block") }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-center" data-dismiss="modal">
                    x
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modify habit -->
<div class="modal fade" id="Modal-Modify-{{ habit.id }}"
    tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    {{ habit.name }}
                </h5>
                <button type="button" class="close"
                    data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" >
                    {{ modify_form.hidden_tag() }}
                    <h4 class="text-center">
                        Modify habit
                    </h4>
                    <!-- Change name, goal, etc. -->
                    <div class="row flex-fill">
                        <div class="col-md-12" style="padding: 1rem;">
                            <label>Goal</label>
                            <input type="text" id="goal" name="goal" value="{{ habit.goal }}" />
                        </div>
                        <div class="col-md-12" style="padding: 1rem;">
                            <label>Units</label>
                            <input type="text" id="units" name="units" value="{{ habit.units }}">
                        </div>
                    </div>
                    <div class="row flex-fill">
                        <div class="col-md-12" style="padding: 1rem;">
                            <!-- Select days of the week -->
                            <div class="weekDays-selector">
                                {% for day in ["M", "T", "W", "X", "F", "S", "D"] %}
                                    {% if day in habit.days_of_the_week %}
                                        <input  checked type="checkbox" id="weekday-{{ day }}-habit-{{ habit.name }}" name="weekday-{{ day }}-habit-{{ habit.name }}" class="weekday">
                                    {% else %}
                                        <input  type="checkbox" id="weekday-{{ day }}-habit-{{ habit.name }}" name="weekday-{{ day }}-habit-{{ habit.name }}" class="weekday">
                                    {% endif %}
                                    <label for="weekday-{{ day }}-habit-{{ habit.name }}">{{day}}</label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Save changes of this habit -->
                    <input type="hidden" id="modified_habit" name="modified_habit" value="{{ habit.name }}" />
                    <input type="hidden" id="action" name="action" value="modify">
                    {{ modify_form.submit(class="btn btn-outline-success btn-block") }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-center" data-dismiss="modal">
                    x
                </button>
            </div>
        </div>
    </div>
</div>

