{% extends "base.html" %}

{% block extra_head %}
<title>Habit Tracker - Habits</title>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row flex-fill" style="margin: 1rem 0 1rem 0;">
            <div class="col-4">
                {% include "includes/create_habit_modal.html" %}
                <div class="card shadow-sm" class="margin: 0px; padding: 0px;">
                    <button class="btn btn-outline btn-success" data-toggle="modal"
                            data-target="#Modal-CreateHabit">
                        Create new habit
                    </button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover table-dark text-center" style="margin-top: 0.5rem;">
        <thead>
            <tr>
                <!-- Columns -->
                <th scope="col">Name</th>
                <th scope="col">Goal</th>
                <th scope="col">Units</th>
                <th scope="col">Achieved Today</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows inside the table -->
            {% for habit in habits %}
                {% include 'includes/habits_options_modals.html' %}
                <tr>
                    <td>{{ habit.name }}</td>
                    <td>{{ habit.goal }}</td>
                    <td>{{ habit.units }}</td>
                    {% if local_datetime_is_today(habit.history[-1].local_timezone_date) %} <!-- last record of the habit -->
                        <td>{{ habit.history[-1].achieved }}</td>
                    {% else %}
                        <td>0</td>
                    {% endif %}
                    <td>
                        <button class="btn btn-outline btn-success" style="margin: 0.2rem;"
                            data-toggle="modal" data-target="#Modal-ModifyAchieved-{{ habit.id }}">
                            Achieved today
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-outline btn-primary" style="margin: 0.2rem;"
                                data-toggle="modal" data-target="#Modal-Modify-{{ habit.id }}">
                            Modify
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-outline btn-danger" style="margin: 0.2rem;"
                                data-toggle="modal" data-target="#Modal-DeleteHabit-{{ habit.id }}">
                            Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

